/* Carousel Styles */
#carouselExampleCaptions {
  max-width: 900px;
  margin: 30px auto;
  border-radius: 40px;
  overflow: hidden;
}

#carouselExampleCaptions .carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 40px;
}

#carouselExampleCaptions .carousel-caption {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  padding: 5px 20px;
}


.line-indicator {
  width: 60px;
  height: 4px;
  background-color: #ccc;
  transition: background-color 0.3s ease;
  border-radius: 2px;
  cursor: pointer;
}

.line-indicator.active {
  background-color: #791f2b; 
}


/* Animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.disaster-card {
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.disaster-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.disaster-img {
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.btn-view {
  transition: background-color 0.3s, transform 0.2s;
}

.btn-view:hover {
  background-color: #0056b3 !important;
  transform: scale(1.05);
}
body {
  overflow-x: hidden;
}
